# Copy this file to .env and fill in your real values.
# NEVER commit the actual .env file to GitHub — it's already in .gitignore.

PORT=5000

# Get this from MongoDB Atlas: Database > Connect > Drivers
# Format: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/virtualenvi
MONGODB_URI=mongodb://sakshisingh1782_db_user:mMz8G1spdsawqHX6@ac-irjxqe3-shard-00-00.lzacn5j.mongodb.net:27017,ac-irjxqe3-shard-00-01.lzacn5j.mongodb.net:27017,ac-irjxqe3-shard-00-02.lzacn5j.mongodb.net:27017/virtualenvi?ssl=true&replicaSet=atlas-ik1b5n-shard-0&authSource=admin&appName=Virtualenvi-cluster

# Week 2 — Nodemailer credentials (leave blank for now)
EMAIL_USER=sakshisingh1782@gmail.com
EMAIL_PASS=gxsy mryx vafw arol
NOTIFY_EMAIL=sakshi35421830@gmail.com
